p {
    color: black;
    font-size: x-large;
}

p button {
    background-image: linear-gradient(to right, #006400, #008000, #009900, #00b300);
    color: white;
    cursor: pointer;
    height: auto;
    width: auto;
    border-radius: 17px;
}

p button:active {
    background-image: linear-gradient(to right, #00b300, #009900, #008000, #006400);
}