input {
  height: 30px;
  padding: 2px 5px;
}
  
label,
input {
  font-size: 21px;
}
  
label {
  width: 260px;
}

select {
  height: 30px;
  padding: 2px 5px;
  font-size: 17px;
  margin-left: 10px;
}