body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-size: 100% 100%;
  /*background-image: linear-gradient(to top right, black, rgb(25,25,25), rgb(50, 50, 50));*/
  /*background-color: grey;*/
  background-image: linear-gradient(to top right, #808080, #a9a9a9 33%, #c2c2c2 66%, #d9d9d9 100%);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 22px;
  width: 300px;
  height: 150px;
  border-radius: 42px;
  cursor: pointer;
}

.back-button {
  border-radius: 42px;
  width: 150px;
  height: 75px;
  background-color: darkblue;
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: rgb(0, 0, 77);
}

.back-button i {
  margin-right: 5px;
}

.submit-button {
  border-radius: 42px;
  width: 175px;
  height: 75px;
  background-color: rgb(128, 25, 25);
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(92, 1, 1);
}

.submit-button i {
  margin-left: 5px;
}

.home-button {
  border-radius: 0;
  width: 150px;
  height: 75px;
  background-color: green;
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: darkgreen;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  color: darkslategray;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

input {
  margin-left: 10px;
}

h1 {
  color: black;
}

h2 {
  background-image: linear-gradient(to right, #006400, #008000, #009900, #00b300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.folder-button {
  border-radius: 42px;
  width: 225px;
  height: 75px;
  background-color: rgb(69, 33, 105);
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.folder-button:hover {
  background-color: rgb(33, 1, 56);
}

.search-container {
  position: relative; /* Permet de positionner la croix à l'intérieur du champ de recherche */
}

.clear-button {
  position: absolute; /* Positionne la croix à droite du champ de recherche */
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* Centre la croix verticalement */
  cursor: pointer; /* Affiche le curseur de la main lorsque la croix est survolée */
  display: none; /* Cache la croix par défaut */
  color: black;
}

#searchInput:valid ~ .clear-button {
  display: block; /* Affiche la croix lorsque le champ de recherche contient du texte */
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}