body {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 94.5vh;
  background-image: linear-gradient(to top right, black, rgb(25,25,25), rgb(50, 50, 50));
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 22px;
  width: 300px;
  height: 150px;
  border-radius: 42px;
  cursor: pointer;
}

.back-button {
  border-radius: 42px;
  width: 150px;
  height: 75px;
  background-color: mediumblue;
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: darkblue;
}

.back-button i {
  margin-right: 5px;
}

.submit-button {
  border-radius: 42px;
  width: 175px;
  height: 75px;
  background-color: firebrick;
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: darkred;
}

.submit-button i {
  margin-left: 5px;
}

.home-button {
  border-radius: 0;
  width: 150px;
  height: 75px;
  background-color: green;
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: darkgreen;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  color: aliceblue;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

input {
  margin-left: 10px;
}

h1 {
  color: whitesmoke;
}

h2 {
  color: wheat;
}

.folder-button {
  border-radius: 42px;
  width: 225px;
  height: 75px;
  background-color: rebeccapurple;
  color: aliceblue;
  font-size: 19px;
  transition: background-color 0.3s ease;
}

.folder-button:hover {
  background-color: indigo;
}

.search-container {
  position: relative; /* Permet de positionner la croix à l'intérieur du champ de recherche */
}

.clear-button {
  position: absolute; /* Positionne la croix à droite du champ de recherche */
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* Centre la croix verticalement */
  cursor: pointer; /* Affiche le curseur de la main lorsque la croix est survolée */
  display: none; /* Cache la croix par défaut */
  color: black;
}

#searchInput:valid ~ .clear-button {
  display: block; /* Affiche la croix lorsque le champ de recherche contient du texte */
}